.signUpContainer {
    display: flex;
    background-image: url("https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg");
    background-color: #1c375e;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.signUpContainerSmall {
    display: flex;
    background-image: url("https://startbootstrap.github.io/startbootstrap-landing-page/assets/img/bg-masthead.jpg");
    background-color: #1c375e;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #fff;
}

.userInput {
    display: flex;
    justify-content: space-around;
}

.userInput input {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}